<div class="passportization">
  <p *ngIf="!canManagePassportization()" class="passport-read-only">
    У вас доступ только для просмотра: создание и изменение справочников и паспортов недоступны.
  </p>

  <mat-tab-group
    class="passport-tabs"
    mat-stretch-tabs="false"
    animationDuration="200ms"
    [selectedIndex]="tabIndex"
    (selectedIndexChange)="onTabChange($event)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">
          <mat-icon class="tab-label__icon">assessment</mat-icon>
          Отчёты
        </span>
      </ng-template>
      <div class="tab-panel">
        <app-reports [embedded]="true"></app-reports>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">
          <mat-icon class="tab-label__icon">badge</mat-icon>
          Паспорта
        </span>
      </ng-template>
      <div class="tab-panel">
        <app-tech-passports-panel></app-tech-passports-panel>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">
          <mat-icon class="tab-label__icon">precision_manufacturing</mat-icon>
          Марки оборудования
        </span>
      </ng-template>
      <div class="tab-panel">
        <app-equipment-catalog [embedded]="true"></app-equipment-catalog>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">
          <mat-icon class="tab-label__icon">cable</mat-icon>
          Марки проводов ЛЭП
        </span>
      </ng-template>
      <div class="tab-panel tab-panel--conductors">
        <app-wire-info-catalog-panel></app-wire-info-catalog-panel>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
